POSTGRES_USER=personas
POSTGRES_PASSWORD=personas_pass
POSTGRES_DB=personas

DATABASE_URL=postgresql://personas:personas_pass@db:5432/personas?schema=public

PGADMIN_DEFAULT_EMAIL=admin@local.com
PGADMIN_DEFAULT_PASSWORD=admin